<!-- # my_project/base_templates/global/base.html -->

<!DOCTYPE html>
<html lang="en"> <!-- "pt-BR"-->
<head>
    {% include 'global/partials/_head.html' %} <!-- # my_project/base_templates/partials/_header.html -->
</head>
<body>
    <!-- <h1> QUALQUER COISA </h1> -->
     {% include 'global/partials/_header.html' %} <!-- # my_project/base_templates/partials/_header.html -->
     {% include 'global/partials/_messages.html' %} <!-- ## # my_project/base_templates/partials/_header.html -->

    <main class="content"> <!-- # my_project/base_static/global/css/style.css -->
        {% block content %}{% endblock content %}
        {% include 'global/partials/_pagination.html' %} <!-- # my_project/base_templates/partials/_pagination.html -->
    </main>

</body>
</html>