<!-- # my_project/base_templates/partials/_header.html -->

<header class="header"> <!-- # my_project/base_static/global/css/style.css -->
    <h1 class="header-heading"> <!-- # my_project/base_static/global/css/style.css -->
        <a href="{% url 'contact_index' %}" class="header-link"> <!-- # my_project/contact/urls.py -->
            Schedule Project (beta) <!-- # -->
        </a>
    </h1>

    <nav class="menu"> <!-- # my_project/base_static/global/css/style.css -->
        <ul class="menu-list"> <!-- # my_project/base_static/global/css/style.css -->

            {% if user.is_authenticated %} <!-- ## #AAA: -->
                <li class="menu-item"> <!-- # my_project/base_static/global/css/style.css -->
                    <a href="{% url 'contact_create' %}" class="menu-link"> CREATE </a> <!-- ## # my_project/contact/urls.py | # my_project/base_static/global/css/style.css -->
                </li>
                <li class="menu-item"> <!-- # my_project/base_static/global/css/style.css -->
                    <a href="{% url 'contact_user_update' %}" class="menu-link"> PROFILE </a> <!-- ## # my_project/contact/urls.py | # my_project/base_static/global/css/style.css -->
                </li>
                <li class="menu-item"> <!-- # my_project/base_static/global/css/style.css -->
                    <a href="{% url 'contact_logout' %}" class="menu-link"> LOGOUT </a> <!-- ## # my_project/contact/urls.py | # my_project/base_static/global/css/style.css -->
                </li>
            {% else %}
                <li class="menu-item"> <!-- # my_project/base_static/global/css/style.css -->
                    <a href="{% url 'contact_login' %}" class="menu-link"> LOGIN </a> <!-- ## # my_project/contact/urls.py | # my_project/base_static/global/css/style.css -->
                </li>
                <li class="menu-item"> <!-- # my_project/base_static/global/css/style.css -->
                    <a href="{% url 'contact_register' %}" class="menu-link"> REGISTER </a> <!-- ## # my_project/contact/urls.py | # my_project/base_static/global/css/style.css -->
                </li>
            {% endif %}

            <!---
            </li>
            <li class="menu-item"> 
                <a href="" class="menu-link"> 
                    Link2!
                </a>
            </li>
            -->

        </ul>
    </nav>
    
    <div class="search"> <!-- # my_project/base_static/global/css/style.css -->
        <form action="{% url 'contact_search' %}" method="GET"> <!-- # my_project/contact/urls.py -->
            <input type="search" class="search-input" placeholder="Search first or last name" id="search" name="q" value="{{request.GET.q.strip}}"> <!-- # my_project/contact/urls.py -->
            </input>
        </form>
    </div>
    
 </header>