<!-- # my_project/base_templates/partials/_header.html -->

<header class="header"> <!-- # my_project/base_static/global/css/style.css -->
    <h1 class="header-heading"> <!-- # my_project/base_static/global/css/style.css -->
        <a href="{% url 'contact_index' %}" class="header-link"> <!-- # my_project/contact/urls.py -->
            Schedule Project (beta) <!-- # -->
        </a>
    </h1>
    <nav class="menu"> <!-- # my_project/base_static/global/css/style.css -->
        <ul class="menu-list"> <!-- # my_project/base_static/global/css/style.css -->
            <li class="menu-item"> <!-- # my_project/base_static/global/css/style.css -->
                <a href="" class="menu-link"> <!-- # my_project/base_static/global/css/style.css -->
                    Link1!
                </a>
            </li>
            <li class="menu-item"> <!-- # my_project/base_static/global/css/style.css -->
                <a href="" class="menu-link"> <!-- # my_project/base_static/global/css/style.css -->
                    Link2!
                </a>
            </li>
        </ul>
    </nav>

    <div class="search"> <!-- ## # my_project/base_static/global/css/style.css -->
        <form action="{% url 'contact_search' %}" method="GET"> <!-- ##AAA: # my_project/contact/urls.py -->
            <input type="search" class="search-input" placeholder="Search" id="search" name="q"> <!-- # -->

            </input>
        </form>
    </div>
 </header>