<!-- # my_project/contact/templates/contact/login.html -->

{% extends "global/base.html" %} <!-- # my_project/base_templates/global/base.html -->
{% block content %}
  <h1>Login User</h1>
  <div class="form-wrapper">
    <h2>Login {{user}} ({{user.is_authenticated}})</h2> <!-- ## -->
      {% if user.is_authenticated %}
        <p> You logged as "{{user.username}}".
            Click <a href="{% url 'contact_logout' %}">here</a> to leave.
        </p>
      {% else %}
        {% include 'contact/partials/_user-form.html' %} <!-- ##AAA: # my_project/contact/templates/contact/partials/_user-form.html -->
      {% endif %}
  </div>
{% endblock content %}