<!-- # my_project/contact/templates/contact/create.html -->

{% extends "global/base.html" %} <!-- # my_project/base_templates/global/base.html -->
{% block content %}
  <h1>Create Contact</h1>
  <div class="form-wrapper">
    <h2>Register</h2>
    <form 
      action="{{ form_action }}"
      method="POST"
    > <!-- Line "action="": # my_project/contact/views/contact_forms.py -->
    
    {% csrf_token %}

      <div class="form-content">
        {% for field in form %} <!-- # my_project/contact/views/contact_forms.py -->
          <div class="form-group">
            <label for={{field.id_for_label}}>{{field.label}}</label>
            {{field}}
            {{field.errors}} <!-- # my_project/base_static/global/css/style.css -->
            
            {% if field.help_text %}
              <p class="help-text"> {{field.help_text}} <!-- # my_project/base_static/global/css/style.css | #(# my_project/contact/forms.py) -->
            {% endif %}
          </div>

          {% if field.name == 'picture' and field.value.url %} <!-- # my_project/contact/forms.py-->
            <div class="form-group">
              <p> This is the image. </p>
              <img src="{{field.value.url}}" alt="">
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <div class="form-content">
        <div class="form-group">
          <button class="btn" type="submit">Send</button>
        </div>
      </div>

    </form>
  </div>
{% endblock content %}